*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.navbar-brand{
    width: 70px;
}

.nav-link-style{
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}

.nav-link-style:hover{
    background-color: greenyellow;
    color: white;
}

.img-container {
    display: block;
    height: calc(100vh - 100px); 
    overflow: hidden;
    position: relative;
  }
  .img-fluid {
    width: 100%; 
    height: auto; 
  }

  .text-on-image {
    position: absolute;
    top: 50%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    width: 50%; 
  }
  
  .text-on-image h1 {
    font-size: 5rem; 
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .text-on-image p {
    font-size: 1.5rem; 
  }
 

h2,span{
    color: greenyellow;
    text-transform: uppercase;
}

.custom-overlay {
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.btn{
    background-color: greenyellow;
    color: white;
}

.btn:hover{
    background-color: greenyellow;
    color: black;
}

.footer-div{
    display: flex;
    justify-content: baseline;
    gap: 10px;
}

.bi{
    color: greenyellow;
}

.footer-bi{
    font-size: 2rem;
}

@media(max-width:840px){
    .text-on-image h1{
        font-size: 3rem;
    }
    .text-on-image{
        top: 40%;
    }
    .img-container{
        display: inline;
    }
}

@media(max-width:768px){
    .navbar-container{
        padding: 0;
    }
    .nav-button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-collapse{
        z-index: 1;
        background-color: #151515;
    }
    .navbar-brand{
        display: none;
    }
}

@media(max-width: 600px){
    .text-on-image h1{
        font-size: 1.7rem;
    }
    .text-on-image{
        top: 20%;
    }
}